{% extends 'base.html' %}

{% block title %}
<title>Chef - About</title>
{% end block %}

{% block page_content %}
<div class="container" id="aboutPage">
  <div class="row justify-content-center my-5">
    <div class="col-md-8">
      <div class="text-muted">
        <h1 class="display-4 text-white">About Chef</h1>
          <p>Hi, <span class="text-primary">[[user.username]]</span></p>
        <p>Have at it.. let your creativity loose.</p>
        <p>Get started quick on other projects</p>
        <hr class="my-4">
        <p>Made awesome by Deji Joseph</p>
      </div>
    </div>
  </div>
</div>
{% end block %}


{% block additional_scripts %}
<script>

</script>
{% end block %}