{% extends 'base.html' %}

{% block title %}
<title>Chef</title>
{% end block %}

{% block page_content %}
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-8">
      <div class="text-muted">
        <h1 class="display-4 text-white">Hi there!</h1>
        <p></p>
        <a href="/about">About App</a>
        <hr class="my-4">
        <a class="btn btn-primary px-3" href="/connect" role="button">Empty button</a>
      </div>
    </div>
  </div>
</div>
{% end block %}
