{% extends 'base.html' %}

{% block title %}
<title>Chef - Signup</title>
{% end block %}

{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark">
  <a href="/" class="navbar-brand">Chef</a>
</nav>
{% end block %}

{% block page_content %}
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-4">
      <form action="/signup" method="POST">
        <div class="form-group">
          <p class="display-4">Signup.</p>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="username" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="email" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="password">
        </div>
        <div id="feedback" class="my-3" v-bind:class="classObject">[[ msg ]]</div>
        <button type="submit" class="btn btn-primary px-3" id="signup-btn">Signup</button>
        <span>or <a href="/login">Login</a></span>
      </form>
    </div>
  </div>
</div>
{% end block %}
